.form-signin {
  padding: 20px;
  margin: 20px 0;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .form-check-input {
    margin: 5px 0 3px 5px;
    width: 15px;
    height: 15px;
  }

  .checkbox-text {
    margin: 10px 0 0 25px;
  }

  p {
    margin: 3px;
  }
}

.col-form-label {
  font-weight: 500;
  font-size: 14px;
}

small {
  margin-left: 120px;

  @media only screen and (max-width: 600px) {
    margin-left: 0;
  }

  @media only screen and (max-width: 768px) {
    margin-left: 0;
  }

  @media only screen and (max-width: 1024px) {
    margin-left: 0;
  }
}

.space {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.icon {
  font-size: 30px;
  color: #F547A0;
  margin: 3px;
}

.btn {
  margin: 10px 5px 0;
  width: 160px;
}

.btn.campaign {
  width: 260px;
}
