<div class="container">

  <div class="row justify-content-center">
    <div class=" col-12 col-6 text-center">
      <h1>CONECTAMOS MARCAS <br />CON INFLUENCERS</h1>
      <h3>Plataforma automatizada de Influencer Marketing</h3>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12 col-md-6 col-sm-6 text-center space-btn">
      <div class="center">
        <button class="btn btn-secondary dropdown-toggle btn-lg" type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          INFLUENCER
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/newinfluencer']">Regístrate <i
              class="fas fa-user-check"></i></a>
          <a class="dropdown-item" [routerLink]="['/loginfluencer']">Accede <i
              class="fas fa-sign-in-alt"></i></a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-sm-6 text-center space-btn">
      <div class="center">
        <button class="btn btn-secondary dropdown-toggle btn-lg" type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EMPRESA
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/newcompany']">Regístrate <i
              class="fas fa-briefcase"></i></a>
          <a class="dropdown-item" [routerLink]="['/logincompany']">Accede <i
              class="fas fa-sign-in-alt"></i></a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<!-- Instagram -->
